progress value=value max=max class=(value >= max ? "complete" : "incomplete")
br
span = human_hours_minutes(value)
span<> = "/"
span = human_hours_minutes(max)

- ratio = max.positive? ? value / max : nil
- if ratio.nil?
  - icon = value.positive? ? "👌🏼" : "👍🏼"
- else
  - icon ||= "👌🏼" if ratio >= 1.2
  - icon ||= "👍🏼" if ratio >= 1
  - icon ||= "⚠️" if ratio >= 0.8
  - icon ||= "🚨"
span< = icon

- left = -(max - value)
span< = "#{'+' if left.positive?}#{human_hours_minutes(left)}"
